@{
    ViewData["Title"] = "busca cidade";
}
@model CovidMonitorAspNetCore.Models.BuscaCidadeModel
<br />
<br />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="~/css/BuscaCidade.css" />

<form asp-controller="BuscaCidade" asp-action="Index" method="post" class="container">

    <div class="row">
        <div class="col-sm">
            <input type="text" id="cidade" autocomplete="off" list="listCidades" class="form-control" placeholder="Cidade/Estado (ex: São Paulo/SP)" asp-for="NmeCidade" />
        </div>
        <div class="col-sm">
            <input type="text" id="cep" min="8" maxlength="8" class="form-control" placeholder="Cep" asp-for="Cep" autocomplete="off" oninput="VerificarCampos('cep')" />
        </div>
        <div class="col-sm" style="align-items:centers">
            <button type="submit" class="btn btn-secondary flex-row align-center"><img width="21" height="21" alt="icone pesquisa" src="https://mailing.bne.com.br/SVG/search_Alpha50.svg" /> BUSCAR</button>
        </div>
        <datalist id="listCidades">
            @foreach (string item in ViewBag.ListaCidadesSugestao)
            {
                <option value="@item"></option>
            }
        </datalist>
    </div>
    <input runat="server" clientidmode="Static" type="hidden" id="hiddenCityQuery">
</form>


<br />
@if (ViewData["nmeCidade"] != null || ViewData["error"] != null)
{
    if (ViewData["error"] != null)
    {
        <h2 class="text-danger text-center">@ViewData["error"]</h2>
        <img src="https://www.valuehost.com.br/blog/wp-content/uploads/2019/02/274034-erro-de-http-wordpress-como-corrigir-1170x508.jpg" class="img-fluid" />
    }
    else
    {
        <div class="card-deck">
            <div class="card">
                <h5 class="card-header" id="card-header">CIDADE</h5>
                <div class="card-body">
                    <h6 class="card-text" id="card-text">@ViewData["nmeCidade"]</h6>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header" id="card-header">CASOS</h5>
                <div class="card-body">
                    <h6 class="card-text" id="card-text">@ViewData["cidadeCasos"]</h6>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header" id="card-header">ÓBITOS</h5>
                <div class="card-body">
                    <h6 class="card-text" id="card-text">@ViewData["cidadeObitos"]</h6>
                </div>
            </div>
        </div>

    }
}
<div class="autocomplete-suggestions " style="display: none; left: 120px; top: 242px; width: 443px;"></div>

<script type="text/javascript" src="@Url.Content("~/js/BuscaCidade.js")"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #card-header, #card-text {
        text-align: center;
    }
</style>