@{
    ViewData["Title"] = "busca cidade";
}
@model CovidMonitorAspNetCore.Models.BuscaCidadeModel
<br />
<br />
<link rel="stylesheet" href="~/css//jquery-ui.css" />

<form asp-controller="BuscaCidade" asp-action="Index" method="post">
    <h3>DIGITE SUA CIDADE OU CEP:</h3>
    <div class="form-row">
        <div class="col">
            <input type="text" id="cidade" class="form-control" placeholder="Cidade/Estado (ex: São Paulo/SP)" asp-for="NmeCidade" oninput="SujestCidade(this.value)" />
        </div>
        <div class="col">
            <input type="text" id="cep" min="8" maxlength="8" class="form-control" placeholder="Cep" asp-for="Cep" autocomplete="off" oninput="VerificarCampos('cep')" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">BUSCAR</button>
        </div>
    </div>
</form>

<br />
@if (ViewData["nmeCidade"] != null || ViewData["error"] != null)
{
    if (ViewData["error"] != null)
    {
        <h2 class="text-danger text-center">@ViewData["error"]</h2>
        <img src="https://www.valuehost.com.br/blog/wp-content/uploads/2019/02/274034-erro-de-http-wordpress-como-corrigir-1170x508.jpg" class="img-fluid" />
    }
    else
    {
        <div class="card-deck">
            <div class="card">
                <h5 class="card-header" id="card-header">CIDADE</h5>
                <div class="card-body">
                    <h6 class="card-text" id="card-text">@ViewData["nmeCidade"]</h6>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header" id="card-header">CASOS</h5>
                <div class="card-body">
                    <h6 class="card-text" id="card-text">@ViewData["cidadeCasos"]</h6>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header" id="card-header">ÓBITOS</h5>
                <div class="card-body">
                    <h6 class="card-text" id="card-text">@ViewData["cidadeObitos"]</h6>
                </div>
            </div>
        </div>

    }
}

<script type="text/javascript" src="@Url.Content("~/js/BuscaCidade.js")"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #card-header, #card-text {
        text-align: center;
    }
</style>